#### DATA WRANGLING

The original dataset comes in a csv file.

In [1]:
# Import relevant libraries
import pandas as pd

In [2]:
#Read the data file
rev = pd.read_csv("C:/Users/USER/Desktop/Course_Data_Scientist_Springboard/1Project_E-commerce/Womens Clothing E-Commerce Reviews.csv", index_col=0)

After that, I check:
- the first 5 rows of the data, 
- the name of the columns,
- the shape of the dataframe,
- the summary informations and
- the summary statistics.

In [3]:
#Display the first 5 rows of the data
rev.head()

,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,1,0,Initmates,Intimate,Intimates
1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,1,4,General,Dresses,Dresses
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses

In [4]:
# Name of columns
rev.columns

Index(['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Recommended IND', 'Positive Feedback Count', 'Division Name',
       'Department Name', 'Class Name'],
      dtype='object')

In [5]:
# the shape of the dataframe
rev.shape

(23486, 10)

In [6]:
# Summary informations
rev.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23486 entries, 0 to 23485
Data columns (total 10 columns):
Clothing ID                23486 non-null int64
Age                        23486 non-null int64
Title                      19676 non-null object
Review Text                22641 non-null object
Rating                     23486 non-null int64
Recommended IND            23486 non-null int64
Positive Feedback Count    23486 non-null int64
Division Name              23472 non-null object
Department Name            23472 non-null object
Class Name                 23472 non-null object
dtypes: int64(5), object(5)
memory usage: 2.0+ MB

In [7]:
# how many values are null? 
rev.isnull().sum()

Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Recommended IND               0
Positive Feedback Count       0
Division Name                14
Department Name              14
Class Name                   14
dtype: int64

In [8]:
# Summary statistics 
rev.describe()

,Clothing ID,Age,Rating,Recommended IND,Positive Feedback Count
count,23486.000000,23486.000000,23486.000000,23486.000000,23486.000000
mean,918.118709,43.198544,4.196032,0.822362,2.535936
std,203.298980,12.279544,1.110031,0.382216,5.702202
min,0.000000,18.000000,1.000000,0.000000,0.000000
25%,861.000000,34.000000,4.000000,1.000000,0.000000
50%,936.000000,41.000000,5.000000,1.000000,1.000000
75%,1078.000000,52.000000,5.000000,1.000000,3.000000
max,1205.000000,99.000000,5.000000,1.000000,122.000000

In [9]:
# Check the rows with Age == 99
print (rev[rev.Age == 99])

       Clothing ID  Age             Title  \
8327          1078   99  Beachy and boho!
11545          949   99               NaN

                                             Review Text  Rating  \
8327   I love the weight of the material; sometimes c...       5
11545  Great quality, i didn't expect the neck to be ...       4

       Recommended IND  Positive Feedback Count Division Name Department Name  \
8327                 1                        1       General         Dresses
11545                1                        4       General            Tops

      Class Name
8327     Dresses
11545   Sweaters

For the Natural Language Processing: I rename my DataFrame as rev_new removing the row with missing values.

In [10]:
#Filter out data removing the NaN values.
rev_new = rev[rev['Review Text'].notnull()]

#Check if I remove data with NaN values
print (rev_new.tail(10))
print (rev.tail(10))

       Clothing ID  Age                                              Title  \
23475         1104   41                                         Cute dress
23476          522   27                                            Cheeky!
23477         1094   39                                         Entrancing
23478         1104   32                                       Unflattering
23479         1005   42                                  What a fun piece!
23481         1104   34                     Great dress for many occasions
23482          862   48                         Wish it was made of cotton
23483         1104   31                              Cute, but see through
23484         1084   28  Very cute dress, perfect for summer parties an...
23485         1104   52                    Please make more like this one!

                                             Review Text  Rating  \
23475  Cute dress but not for me.  the waist is too h...       3
23476  These bottoms are very cute but defiantly chee...       4
23477  I'm so impressed with the beautiful color comb...       4
23478  I was surprised at the positive reviews for th...       1
23479  So i wasn't sure about ordering this skirt bec...       5
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
23475                1                        0  General Petite
23476                1                        0       Initmates
23477                1                        5  General Petite
23478                0                        0  General Petite
23479                1                        0  General Petite
23481                1                        0  General Petite
23482                1                        0  General Petite
23483                0                        1  General Petite
23484                1                        2         General
23485                1                       22  General Petite

      Department Name Class Name
23475         Dresses    Dresses
23476        Intimate       Swim
23477         Dresses    Dresses
23478         Dresses    Dresses
23479         Bottoms     Skirts
23481         Dresses    Dresses
23482            Tops      Knits
23483         Dresses    Dresses
23484         Dresses    Dresses
23485         Dresses    Dresses
       Clothing ID  Age                                              Title  \
23476          522   27                                            Cheeky!
23477         1094   39                                         Entrancing
23478         1104   32                                       Unflattering
23479         1005   42                                  What a fun piece!
23480          862   35                                                NaN
23481         1104   34                     Great dress for many occasions
23482          862   48                         Wish it was made of cotton
23483         1104   31                              Cute, but see through
23484         1084   28  Very cute dress, perfect for summer parties an...
23485         1104   52                    Please make more like this one!

                                             Review Text  Rating  \
23476  These bottoms are very cute but defiantly chee...       4
23477  I'm so impressed with the beautiful color comb...       4
23478  I was surprised at the positive reviews for th...       1
23479  So i wasn't sure about ordering this skirt bec...       5
23480                                                NaN       5
23481  I was very happy to snag this dress at such a ...       5
23482  It reminds me of maternity clothes. soft, stre...       3
23483  This fit well, but the top was very see throug...       3
23484  I bought this dress for a wedding i have this ...       3
23485  This dress in a lovely platinum is feminine an...       5

       Recommended IND  Positive Feedback Count   Division Name  \
23476                1                        0       Initmates
23477                1                        5  General Petite
23478                0                        0  General Petite
23479                1                        0  General Petite
23480                1                        0  General Petite
23481                1                        0  General Petite
23482                1                        0  General Petite
23483                0                        1  General Petite
23484                1                        2         General
23485                1                       22  General Petite

      Department Name Class Name
23476        Intimate       Swim
23477         Dresses    Dresses
23478         Dresses    Dresses
23479         Bottoms     Skirts
23480            Tops      Knits
23481         Dresses    Dresses
23482            Tops      Knits
23483         Dresses    Dresses
23484         Dresses    Dresses
23485         Dresses    Dresses